.cuerpo
{
    background-color:#000000;
   
     font-family: sans-serif;
}
  
.contenedorLogin
{
    margin-top: 100px;
    text-align: center;
    width: 100%;
}
  
.formulario
{
    background-color: transparent;
    border-radius: 7px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    width: 270px;
    
}
  

  
.formulario h2
{
    color: black;
}
  
.formulario input[type=submit]
{
    background-color: blueviolet;
    border:red;
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4), 0px 0px 2px white inset;
    color: white;
    font-size: 17px;
    height: 35px;
    margin: 4px;
    min-width: 100px;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
  

  
.formulario input[type=submit]:focus
{
    outline: none;
}
  
.formulario input[type=text], .formulario input[type=password]
{
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) inset, -1px -1px 1px rgba(0, 0, 0, 0.1) inset, 0px 0px 2px white;
    height: 30px;
    margin: 0px;
    min-width: 240px;
    padding: 5px;
}
  
.formulario input[type=text]:focus, .formulario input[type=password]:focus
{
    outline: none;
}
  
.formulario input[type=text]:hover, .formulario input[type=password]:hover
{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) inset, -1px -1px 1px rgba(0, 0, 0, 0.1) inset, 0px 0px 2px white, 0px 0px 2px rgba(0, 0, 0, 0.2);
}
  
.formulario p
{
    color: black;
   
}
  

  
